@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Stick+No+Bills:wght@200&display=swap');
:root{
    --bg_collor_white: #fff;
    --bg_collor_black: #000;

    --collor_yellow: #FFEA00;
    --collor_blue: #1D395B;
    --collor_red: #FF0000;
    --collor_green: #008000;
    --collor_purple: #800080;
    --collor_brown: #8B4513;
    --collor_orange: #F66808;
    --collor_pink: #FF1493;

    --collor_base01:#363636; /* fundo  */
    --collor_base02:#808080;  /* tabela  */
    --collor_base03:#D3D3D3;  /* letras e linhas  */

    --collor_btn_config: rgb(255, 255, 255);

    --transition: 1s;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0% 30% 0% 30%;
    background-color: var(--collor_base01);
    position: relative;
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    cursor: pointer;
}
img:hover{
    transform: rotate(-359deg);
    transition: 0.8s ease-in-out;
}
input[type="checkbox"]
{
    display: none;
}
input[type="checkbox"]:checked ~ .nome_equipe_config{
    transition: all 0.5s ease-in-out;
    transform: translateY(635px);
    display: block;
}

#config_equipe{
    text-align: center;
    /*border-radius: 12px;
    box-shadow: 0px 0px 5px 5px rgba(1, 7, 8, 0.658);*/
}
.nome_equipe_config{
    height: 470px;
    border-radius: 12px;
    background-color: rgb(224, 209, 238);
    top: -550px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    /*height: 100vw;
    top: 40px;*/
}
.config_menu{
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#nome_equipe{
    background-color: rgba(255, 255, 255, 0);
    width: 230px;
    height: 20px;
    border: 0;
    border-bottom: 2px solid #000;
    outline: 0;
    /*outline de zero, significa tirar a borda do text quando clicado 
    id se usa #  e class se usa (  .  ) */
}
.back_text{
    border-bottom: 2px solid #000;
    font-size: 13px;
}
.margem_button{
    position: relative;
    display: grid;
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px ;
    /*grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;*/
    grid-gap: 10px;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    
}
.margem_button_fonte{
    display: grid;
    grid-template-columns: 15px 15px ;
    grid-gap: 20px;
    padding: 10px;
    padding-left: 43%;
    padding-right: 43%;
}
.button{
    border-style: solid;
    border-color: goldenrod;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 10px;
}
#btn-config{
    font-family: 'Spartan', sans-serif;
    color: var(--collor_btn_config);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 35px;
    box-shadow: 5px 2px 5px;
    border-radius: 10px;
    background-color: rgba(37, 31, 31, 0.534);
    cursor: pointer;
}
#btn-config:hover {
    background-color: var(--collor_btn_config);
    color: #000;
}
#personalizar_frase{
    font-weight: 200;
    padding: 0 10%;
    font-family: 'Reggae One', cursive;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgb(16, 22, 17);
    text-decoration: underline rgba(80, 60, 60, 0.644) double;
}

#collor01, #collor11{
    background-color: var(--collor_blue);
  }
  #collor02, #collor12{
    background-color: var(--collor_brown);
  }
  #collor03, #collor13{
    background-color: var(--collor_green);
  }
  #collor04, #collor14{
    background-color: var(--collor_orange);
  }
  #collor05, #collor15{
    background-color: var(--collor_pink);
  }
  #collor06, #collor16{
    background-color: var(--collor_purple);
  }
  #collor07, #collor17{
    background-color: var(--collor_red);
  }
  #collor08, #collor18{
    background-color: var(--collor_yellow);
  }
  #collor09, #collor19{
    background-color: var(--bg_collor_black);
  }
  #collor10, #collor20{
    background-color: var(--bg_collor_white);
  }
  #collor21{
    background-color: var(--bg_collor_black);
  }
  #collor22{
    background-color: var(--bg_collor_white);
  }
.cabecalho{
    font-family: 'Spartan', sans-serif;
    text-align: center;
    background-color: var(--collor_base02);
    border-radius: 10px;
    padding: 5px;
}
.nome_novo_equipe{
    font-size: 35px;
    color: var(--collor_base01);
    text-decoration: underline var(--collor_base01) double;
}
.tituloPrincipal{
    font-size: 12px;
}
.tituloPrincipal2{
    font-size: 16px;
}
.tituloPrincipal3{
    color: var(--collor_base03);
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid var(--collor_base03);
}

.tabelaAutonomo{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto;
    grid-gap: 3px;
    padding-top: 10px;
    padding-bottom: 10px ;
    margin: 0 auto;
}
.tabelaAutonomo div{
    background-color: var(--collor_base02);
    text-align: center;
    align-items: center;
    padding: 5px 2px;
    font-size: 10px;
    border-radius: 8px;
    font-family: 'Spartan', sans-serif;
    color: var(--collor_base03);
}
.tabelaAutonomo div:hover{
  background-color: rgba(0, 0, 0, 0.397);
  transition: 1s ;
}
.opTexto{
    font-weight: 200;
    font-family: 'Spartan', sans-serif;
    grid-column: 1 / span 2;
    color: var(--collor_base03);
}
.opItens{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.01);
    font-weight: 300;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    font-size: 10px;
    border: none;
    color: var(--collor_base03);
}
.tabela-result{
    font-family: 'Spartan', sans-serif;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 30px;
    padding-top: 10px;
    padding-bottom: 10px ;
    margin: 0 auto;
    /*border-bottom: 2px solid #000;*/
}
#btn-autonomo{
    grid-column: 1 / span 2;
    padding: 16px;
    border-radius: 10px;
    border-color: goldenrod;
    cursor: pointer;
    color: var(--collor_base03);
    background-color: var(--collor_base02);
}
#btn-autonomo:hover{
    background-color: rgba(0, 0, 0, 0.397);
    transition: 1s ;
}
#result{
    font-size: 20px;
    font-weight: 300;
    color: var(--collor_base03);
}
#btn-teleoperado{
    grid-column: 1 / span 2;
    padding: 16px;
    border-radius: 10px;
    border-color: goldenrod;
    cursor: pointer;
    color: var(--collor_base03);
    background-color: var(--collor_base02);
}
#btn-teleoperado:hover{
    background-color: rgba(0, 0, 0, 0.397);
    transition: 1s ;
}
#result-teleoperado{
    font-size: 20px;
    font-weight: 300;
    color: var(--collor_base03);
}
#btn-retafinal{
    grid-column: 1 / span 2;
    padding: 16px;
    border-radius: 10px;
    border-color: goldenrod;
    cursor: pointer;
    color: var(--collor_base03);
    background-color: var(--collor_base02);
}
#btn-retafinal:hover{
    background-color: rgba(0, 0, 0, 0.397);
    transition: 1s ;
}
#result-retafinal{
    font-size: 20px;
    font-weight: 300;
    color: var(--collor_base03);
}
.tabela-round{
    text-align: center;
    font-size: 14px;
    background-color: var(--collor_base02);
    padding: 5px 2px;
    border-radius: 10px;
    color: var(--collor_base01);
}
@media (max-width: 600px)
{
    body{
        margin: 5% 10% 0% 10%;
        background-color: green;
        position: relative;
    }

  
}